<template>
    <div>
        <input type="text" placeholder="Write something" v-model="text"/>
        <input type="button" value="Save" @click="save"/>
    </div>
</template>

<script>
    import {sendMessage} from "util/ws.js";

    export default {
        name: "MessageForm",
        props: ['messages', 'messageAttr'],
        data: function () {
            return {
                text: '',
                id: null
            }
        },
        watch: {
            messageAttr: function (newVal, oldVal) {
                this.text = newVal.text;
                this.id = newVal.id;
            }
        },
        methods: {

            save: function() {
                sendMessage({id: this.id, text: this.text});
                this.id = null;
                this.text = ''
                // const message = { text: this.text };
                //
                // if (this.id) {
                //     this.$resource('/message{/id}').update({id: this.id}, message).then(result =>
                //         result.json().then(data => {
                //             var index = getIndex(this.messages, data.id);
                //             this.messages.splice(index, 1, data);
                //             this.text = '';
                //             this.id = null
                //         })
                //     )
                // } else {
                //     this.$resource('/message{/id}').save({}, message).then(result =>
                //         result.json().then(data => {
                //             this.messages.push(data);
                //             this.text = ''
                //         })
                //     )
                // }
            }
        }
    }
</script>

<style scoped>

</style>